{% extends 'base.html' %}
{% block title %}Recently Viewed{% endblock %}
{% block content %}

<h3>Recently Viewed Recipes</h3>

<ul class="list-group">
    {% for recipe in recipes %}
        <li class="list-group-item">
            <a href="{% url 'recipe_details' recipe.pk %}">{{ recipe.title }}</a>
        </li>
    {% empty %}
        <li class="list-group-item">No recently viewed recipes.</li>
    {% endfor %}
</ul>

<a href="{% url 'recipe_list' %}" class="btn btn-secondary mt-3">⬅️ Back to all recipes</a>

{% endblock %}
