{% extends 'base.html' %}
{% block title %}All Recipes{% endblock %}
{% block content %}

<a class="btn btn-success mb-3" href="{% url 'recipe_form' %}">➕ Add New Recipe</a>

<h3>All Recipes</h3>
<ul class="list-group">
    {% for recipe in recipes %}
        <li class="list-group-item d-flex justify-content-between">
            <div>
                <strong>{{ recipe.title }}</strong> - {{ recipe.description|truncatechars:80 }}
            </div>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'recipe_details' recipe.pk %}">View</a>
        </li>
    {% empty %}
        <li class="list-group-item">No recipes found.</li>
    {% endfor %}
</ul>

{% endblock %}
