{% extends 'base.html' %}
{% block title %}{{ recipe.title }}{% endblock %}
{% block content %}

<h2>{{ recipe.title }}</h2>
<p><strong>Description:</strong> {{ recipe.description }}</p>
<p><strong>Preparation Time:</strong> {{ recipe.preparation_time }} mins</p>
<p><strong>Cooking Time:</strong> {{ recipe.cooking_time }} mins</p>
<p><strong>Difficulty:</strong> {{ recipe.difficulty_level }}</p>

<h4>Instructions:</h4>
<p>{{ recipe.instructions }}</p>

<h4>Ingredients:</h4>
<ul>
    {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient.quantity }} of {{ ingredient.name }}</li>
    {% endfor %}
</ul>

<h5>Categories:</h5>
<ul>
    {% for cat in recipe.categories.all %}
        <li>{{ cat.name }}</li>
    {% endfor %}
</ul>

<a href="{% url 'recipe_update' recipe.pk %}" class="btn btn-warning">✏️ Edit</a>
<a href="{% url 'recipe_delete' recipe.pk %}" class="btn btn-danger">🗑️ Delete</a>
<a href="{% url 'recipe_list' %}" class="btn btn-secondary">⬅️ Back</a>

{% endblock %}
